<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>Unique page title - My Site</title>
   
</head>

<body>

    <div class="container text-center">
        <h1> Регистрация</h1>

        <div class="row border border-0 border-warning">
            <div class="col-6 offset-3 border border-0 border-primary">
                <form action="" method="post" class="form-signin" role="form">
                    <input type="text" name="name" class="form-control" placeholder="Name" required autofocus>
                    <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" name="password" class="form-control" placeholder="Password" required autofocus>
                    <input type="password" name="password_confirmation" class="form-control" placeholder="Confirmation" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">
                        Создать пользователя
                    </button>
                </form>
            </div>
        </div>

    </div>


</body>
</html>